@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">QE2 Parents Evening Bookings</h1>
</div>
<center>
    <img src="https://github.com/Cian15/QE2ParentsEveningBookingSystem/blob/master/qe2.png?raw=true" alt="QE2 School Logo" />
    <p>The new way to book parents evening appointments.</p>
</center>


